<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&family=Urbanist:wght@300&display=swap" rel="stylesheet">
    
    <link href="./css/dash.css" rel="stylesheet" type="text/css">
    <link href="./css/newTransaction.css" rel="stylesheet" type="text/css">
    <script src="./js/jquery.js"></script>
    <script src="./js/manage.js"></script>
</head>
<body>
    <div class="wrapper">
        <div class="new-transaction-wrapper">
            <div id="new-transaction">
                <i id="close-tr"class="fas fa-window-close"></i>
                <div class="fl1">
                    <div class="tr-form-wrapper">
                        <label>De la:</label>
                        <br>
                        <input type="text" id="from-iban" value="" readonly>
                        <br>
                        <input type="text"  id="from-iban-balance" value="" readonly>
                        <br><br><br><br>
                        <label class="new-tr-from-label">Catre:</label>
                        <br>
                        <input type="text" id="to-iban" placeholder="IBAN">
                        <br>
                        <input type="text" id="to-name" placeholder="Nume">
                        <br>
                        <input type="text" id="to-sum" placeholder="Suma de transferat">
                        <br>
                        <div id="submit-transaction"><p>Transfera!</p></div>
                    </div>
                </div>
                <div class="fl1">
                    <div class="tr-contacts">
                        <h1 style="font-size:25px; padding-top:10px;"> <i class="fas fa-user-friends"></i> Contacte</h1>
                        <div id="add-contact">
                            <input id="add-name" type="text" placeholder="Numele contactului...">
                            <input id="add-iban" type="text" placeholder="IBAN-ul contactului...">
                            <div id="submit-contact">Adauga <i class="fas fa-user-plus"></i></div>
                        </div>
                        <div class="contacts">
                            
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="explorer">
            <img id="profile-pic" src="./img/luis.png" alt="">
            <h1 id="name"><%= user.NUME + " " + user.PRENUME %></h1>
            <br>
            <a href="/my-profile" class="nostyle">
            <div class="card-btn">
                <p>Setari</p>
            </div>
            </a>
            <a href="/logout" class="nostyle"><div class="card-btn">
                <p>Log out</p>
            </div>
            </a>    
            
        </div>
        <div class="content">
            <div style="clear: both;"></div>
            <h1 id="title">Tranzactii <div class="loader"></div></h1>
            <div id="tranzactii">
                <% for(var i=0; i<transactions.length; i++) {%>
                    <div class="tranzactie" id="tranzactie-<%= transactions[i].ID %>">
                        <div class="tr-left">
                            <p>Data: <%= transactions[i].DATA.toLocaleString({ weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }) %></p>

                                <p>Suma: <span class="tr-balance red">$<%= transactions[i].SUMA %></p>
                        
                        </div>
                        <div class="tr-left">
                            <p>FROM IBAN: <%= transactions[i].IBAN_SURSA %></p>
                            <p>TO IBAN: <%= transactions[i].IBAN_DEST %></p>
                        </div>
                        <div id="<%= transactions[i].ID %>" class="tr-right">
                            <i id="approve" class="fas fa-check"></i>
                            <i id="deny" class="fas fa-ban"></i>
                            <p><%= transactions[i].STATUS %></p>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
    
</body>
</html>